<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checklist Enviado</title>
</head>
<body>

    <h1>Checklist Enviado Com Sucesso!</h1><br>
    Data: {{data}}<br>
    Caminhão: {{caminhao}}<br>

    <h2>Itens:</h2>
    Pneu: {{pneu}}<br>
    Estepe: {{estepe}}<br>
    Adesivos Refletivos: {{adesivos_refletivos}}<br>
    Cinto de Segurança: {{cinto_seguranca}}<br>
    Freio: {{freio}}<br>
    Tacógrafo: {{tacografo}}<br>
    Luzes: {{luzes}}<br>
    Faróis: {{farois}}<br>
    Indicadores: {{indicadores}}<br>
    Documentos: {{documentos_veiculo}}<br>
    Observação: {{observacao}}<br>
    
</body>
</html>