body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: center; /* centraliza texto do container */
    background-color: white;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-bottom: 20px;
}

header img {
    height: 70px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

textarea {
    width: 100%;
    max-width: 275px;
    padding: 8px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.checkbox-group {
    display: flex;
    flex-direction: column;   /* uma coluna de itens */
    align-items: center;      /* centraliza o grupo no form */
    gap: 10px;
    margin-bottom: 20px;
}

.checkbox-item {
    display: flex;
    align-items: center;      /* checkbox e label na mesma linha */
    gap: 10px;
    justify-content: flex-start; /* alinha checkbox + label juntos à esquerda do bloco */
    width: 250px;             /* largura fixa para todas as linhas */
}


.botoes {
    display: flex;
    justify-content: center;
    gap: 95px;
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    font-weight: bold;
    border: 1px solid;
    border-radius: 5px;
    cursor: pointer;
}


hr {
    width: 80%;
    border: 2px solid #ccc;
    margin: 20px 0;
}

select {
    text-align: center;
}

.informacoes-container {
    text-align: left; 
    justify-content: center;
    margin-left: -50px;
    gap: 30px;
}


.select-caminhao-container {
    display: flex;
    align-items: center; /* alinha verticalmente o label com o select */
    justify-content: center; /* centraliza horizontalmente no form */
    gap: 10px; /* espaço entre label e select */
    margin: 5px;
}

.select-tipo-container {
    display: flex;
    align-items: center; /* alinha verticalmente o label com o select */
    justify-content: center; /* centraliza horizontalmente no form */
    gap: 10px; /* espaço entre label e select */
    margin: 15px;
    margin-left: 7px;
}

.logout-icon {
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
}

.logout-icon img {
    transition: transform 0.2s;
    height: 25px;
}

.container-botao {
    display: flex; /* Ou outro valor, dependendo do seu layout */
    flex-direction: column; /* Coloca os elementos um abaixo do outro */
    align-items: center; /* Centraliza os elementos horizontalmente, se desejado */
    padding-top: 15px;
    padding-left: 25px;
}

.label-sair {
    font-size: x-small;
    font-weight: bold;
    padding-right: 5px;
}