body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center; /* centraliza textos dentro do container */
}

.container {
    background: white;
    padding: 30px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    max-width: 600px;
    width: 90%;
}

.itens {
    text-align: left;
    margin-left: 235px;
}

.informacoes-container {
    text-align: left; 
    justify-content: center;
    margin-left: 235px;
}


hr {
    border: 2px solid silver;
}