<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>

    <style>

    .form-style {
        width: 175px;
        height: 150px;
        border: 2px solid rgb(0, 0, 0);
        padding: 25px;
        border-radius: 5px;
        background-color: rgb(255, 255, 255);
    }

    .button-submit {
        width: 80px;
        height: 22px;
    }

    .button-reset {
        width: 80px;
        height: 22px;
    }

    </style>

</head>
<body>

    <h1>Cadastro</h1>

    <form action="/cadastro" method="post" class="form-style">

        <label for="nome_completo">Nome Completo:</label> <br>
        <input class="input-style" type="text" id="nome_completo" name="nome_completo">

        <br><br>

        <label for="senha">Senha:</label> <br>
        <input class="input-style" type="password" class="senha" id="senha" name="senha">

        <br><br>

        <button class="button-reset" type="reset">Cancelar</button>

        <button class="button-submit" type="submit">Cadastrar</button>

        {% if erro %}
            <p style="color:red;">{{erro}}</p>
        {% endif %}


    </form>
    
</body>
</html>