<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checklist Diário</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/checklist.css') }}">
</head>
<body>
    <div class="container">
        <header>
            <h1>Checklist Diário</h1>
            <img src="{{ url_for('static', filename='images/logo_dbcambui_2.png') }}" alt="Logo da Empresa">
        </header>

        <form action="/resultado_checklist" method="post">
            <hr>

            <h2>Informações</h2>

            <div class="informacoes-container">
                Data: <span id="dataTexto"></span><br><br>
                Motorista: {{nome_usuario}}<br>

                <input type="hidden" name="usuario" id="usuario">
                <script>
                    document.getElementById("usuario").value = "{{nome_usuario}}"
                </script>

                <input type="hidden" name="data" id="data">
                <script>
                    const hoje = new Date();
                    const dataBR = hoje.toLocaleDateString("pt-BR");
                    document.getElementById("dataTexto").textContent = dataBR;
                    document.getElementById("data").value = dataBR;
                </script>
            
                <label for="numero_caminhao">Selecione o Caminhão:</label>
                <select id="numero_caminhao" name="numero_caminhao">
                    {% for i in range(34, 17, -1) %}
                    <option value="{{i}}">{{i}}</option>
                    {% endfor %}
                </select>

                <br>

                <label for="tipo">Selecione o Tipo:</label>
                <select id="tipo" name="tipo">
                    <option value="saida">Saída</option>
                    <option value="retorno">Retorno</option>
                </select>
            </div>

            <br>

            <hr>
            
            <h2>Itens:</h2>

            <div class="checkbox-group">
                {% for item in ['Pneu', 'Estepe', 'Adesivos Refletivos', 'Cinto Segurança', 'Freio', 'Tacógrafo', 'Luzes', 'Faróis', 'Indicadores', 'Documento'] %}
                <div class="checkbox-item">
                    <input type="checkbox" id="{{item | lower | replace(' ', '_')}}" name="{{item | lower | replace(' ', '_') | replace('ó', 'o') | replace('ç', 'c')}}" value="ok">
                    <label for="{{item | lower | replace(' ', '_')}}">{{item}}</label>
                </div>
                {% endfor %}
            </div>

            <hr>

            <label for="observacao"><h2>Observação:</h2></label>
            <textarea id="observacao" name="observacao" rows="6" placeholder="Digite uma Observação..."></textarea>

            <div class="botoes">
                <button class="cancelar_checklist" type="reset"><b>Cancelar</b></button>
                <button class="enviar_checklist" type="submit"><b>Enviar</b></button>
            </div>
        </form>
    </div>
</body>
</html>
