<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Página Inicial</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/homepage.css') }}">

</head>
<body>
    <header>
        <img src="{{ url_for('static', filename='images/logo_dbcambui_2.png') }}" alt="Logo da Empresa">
        <h1>Bem-vindo ao Checklist Diário</h1>
    </header>
    
    <hr>

    <main>
        <p>Faça login ou cadastre-se para continuar.</p> <br>

        <a href="{{ url_for('cadastro.cadastro')}}">
            <button class="botao_cadastro">Cadastro</button> <br><br>
        </a>

        <a href="{{ url_for('login.login')}}">
            <button class="botao_login">Login</button>
        </a>

    </main>
</body>
</html>
