<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checklist Enviado</title>

    <style>

    hr {
        border: 3.5px solid silver;
    }


    </style>

</head>
<body>

    <h1>Checklist Enviado Com Sucesso!</h1>

    <hr>

    <h3>Informações:</h3>

    Data: {{data}}<br>
    Usuário: {{usuario}}<br>
    Caminhão: {{caminhao}}<br>

    <hr>

    <h3>Itens:</h3>
    Pneu: {{pneu}}<br>
    Estepe: {{estepe}}<br>
    Adesivos Refletivos: {{adesivos_refletivos}}<br>
    Cinto de Segurança: {{cinto_seguranca}}<br>
    Freio: {{freio}}<br>
    Tacógrafo: {{tacografo}}<br>
    Luzes: {{luzes}}<br>
    Faróis: {{farois}}<br>
    Indicadores: {{indicadores}}<br>
    Documentos: {{documentos_veiculo}}<br>
    Observação: {{observacao}}<br><br>

    <hr>

    <h3>Obrigado!</h3>

    Os itens marcados são primordiais para a segurança. <br>
    Em caso de erro, NÃO PROSSIGA com o veículo. <br> E contate imediatamente Aguinaldo ou Iago.

    <br><br>

    <hr>

    <br>

    Página Inicial <br>

    <a href="/">
        <button type="button">Clique Aqui</button>
    </a>

</body>
</html>