<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checklist Enviado</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/resultado.css') }}">

</head>
<body>

    <div class="container">
        
        <header>
            <h1>Checklist Enviado Com Sucesso!</h1>
            <img src="{{ url_for('static', filename='images/logo_dbcambui_2.png') }}" alt="Logo da Empresa">
        </header>

        <hr>

        <h3>Informações:</h3>

        <div class="informacoes-container">
            Data: {{data}}<br>
            Usuário: {{usuario}}<br>
            Caminhão: {{caminhao}}<br>
            Tipo: {{tipo}}
        </div>

        <hr>

        <h3>Itens:</h3>
        <div class="itens">
            Pneu: {{pneu}} <br>
            Estepe: {{estepe}} <br>
            Adesivos Refletivos: {{adesivos_refletivos}} <br>
            Cinto de Segurança: {{cinto_seguranca}} <br>
            Freio: {{freio}} <br>
            Tacógrafo: {{tacografo}} <br>
            Luzes: {{luzes}} <br>
            Faróis: {{farois}} <br>
            Indicadores: {{indicadores}} <br>
            Documentos: {{documentos_veiculo}} <br>
            Observação: {{observacao}} <br><br>
        </div>

        <hr>

        <h3>Obrigado!</h3>

        Os itens marcados são primordiais para a segurança. <br>
        Em caso de erro, NÃO PROSSIGA com o veículo. <br> E contate imediatamente Aguinaldo ou Iago.

        <br><br>

    </div>

</body>
</html>